* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primario: #d988b9;
  --color-secundario: #facbea;
  --color-crem: #ffe4d6;
  --color-pinkForte: #b0578d;
  --color-blue: #090979;
}
html {
  height: 100%;
}
body {
  font-family: "Inclusive Sans", sans-serif;
  min-height: 100%;
}
.cuerpo > * {
  box-shadow: 2px 2px 10px 5px var(--color-blue);
  padding: 5px;
}
.cuerpo {
  display: grid;

  grid-template:
    "cabeza" 100px
    "barra" 30px
    "main" auto
    "fo" 50px;
}
.cabeza {
  grid-area: cabeza;
}
.barra {
  grid-area: barra;
}
.principal {
  grid-area: main;
}
.fo {
  grid-area: fo;
}
/* Comenzamos con el header */
.cabeza {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Satisfy", cursiva;
  display: flex;
  gap: 70px;
  align-items: center;
}
.logo {
  width: 100px;
  border-radius: 50px;
  animation: slid 2.5s infinite;
  padding: 5px;
}

@keyframes slid {
  from {
    transform: scale(10%);
  }
}
header h1 {
  font-size: 30px;
  text-align: center;
  
}
/* comenzamos la barra de navegacion */
.barra {
  background-color: var(--color-secundario);
}
menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;

  text-transform: uppercase;
}
.barra menu li {
  list-style: none;
}
.barra menu li a:hover {
  text-decoration: underline 3px var(--color-blue);
}
li a {
  text-decoration: none;
}
/* comenzamos con la seccion principal */
.principal {
  margin-top: 2px;
  margin-bottom: 2px;
  background: rgb(255, 183, 215);
  background: radial-gradient(
    circle,
    rgba(255, 183, 215, 1) 0%,
    rgba(148, 187, 233, 1) 0%,
    rgba(169, 186, 229, 1) 0%,
    rgba(199, 185, 224, 1) 63%
  );
}
