* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inclusive Sans", sans-serif;
  min-height: 100%;
}
/* encabezao */
.cabeza {
  font-family: "Inclusive Sans", sans-serif;
  font-family: "Satisfy", cursive;
  max-height: 130px;
  display: flex;
  align-items: center;
  gap: 50px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.fotoswa {
  width: 130px;
  height: 100%;
  border-radius: 80px;
  padding: 10%;
  animation: slid 4s infinite;
  box-shadow: 2px 2px 2px rgb(238, 174, 202);
}
@keyframes slid {
  from {
    transform: scale(10%);
  }
}

.fotoswa:hover {
  box-shadow: 2px 2px 2px black;

  /* barra de navegacion */
}
